{% extends "layout.html" %} {% block title %} choices {% endblock %} {% block
main %}
<div>
  <table class="table table-hover table-responsive-sm table-responsive-lg">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Choice</th>
        <th>Choice text</th>
      </tr>
    </thead>
    <tbody class="table-light">
      {% for choice in choices %}
      <tr>
        <td>{{ choice.Choice.date }}</td>
        <td>{{ choice.Choice.choice }}</td>
        {% if choice.Choice.choice == "A" %}
        <td>{{ choice.Post.optionA }}</td>
        {% endif %} {% if choice.Choice.choice == "B" %}
        <td>{{ choice.Post.optionB }}</td>
        {% endif %} {% if choice.Choice.choice == "C" %}
        <td>{{ choice.Post.optionC }}</td>
        {% endif %} {% if choice.Choice.choice == "D" %}
        <td>{{ choice.Post.optionD }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
